<%- include('../partials/header') %>

<h2>Enter Your Daily workout routine.</h2>
<form id="new-form" action="/logs" method="POST">
  <div>
    <label for="exerciseNotes">Exercise Notes:</label>
    <textarea id ="exerciseNotes" name="exerciseNotes"></textarea>
    
  </div>
<br>
  <div>
    <label for="exerciseTime">Exercise Time (minutes):</label>
    <input type="number" id="exerciseTime" name="exerciseTime" min="1" max="1440">
  </div>
<br>

  <div>
    <label for="exerciseType">Exercise Type:</label>
    <select id="exerciseType" name="exerciseType">
      <option value="Strength">Strength</option>
      <option value="Aerobic">Aerobic</option>
      <option value="Swimming">Swimming</option>
      <option value="Yoga">Yoga</option>
    </select>
  </div>
  <br>

  <div>
    <input type="submit" value="Add Exercise">
  </div>
</form>

<%- include('../partials/footer') %>
